html {
  position: relative;
  min-height: 100%;
}
body {
  background: transparent;
  /* Margin bottom by footer height */
  margin-bottom: 101px;
}

.navbar-logo {
  height: 40px;
  width: 60px;
}
.logo {
  height: 52px;
  width: 78px;
}
.welcome {
  padding-top: 100px;
  margin: 0 0 30px 0;
  /* margin: 100px 0 30px 0; */
}

/* progress bar */
.loading-bar {
  /* margin: 70px 150px 30px 150px; */
  margin: 15vmax 15vw 3vh 15vw;
}
.progress-bar {
  -webkit-transition: width 3s ease !important;
  transition: width 3s ease !important;
}

/* name input */
.apply-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* avatar selection */
.avatars {
  margin: 15px 0 10px 0;
}
.ava-img {
  height: 35px; width: 42px;
}
[name='radiob'] {
  display: none; 
}
.avatars input:active +.ava{opacity: .9;}
.avatars input:checked +.ava{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.ava{
  cursor:pointer;
  display:inline-block;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}
.ava:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* leaderboard */
.leaderboard {
  margin: 30px 30px 30px 30px;
}
table {
  opacity: .7;
}
.leader-ava {
  height: 22px; width: 27px;
}

/* game screen */
.game-container {
  margin-top: 80px;
  /* padding-top: 100px; */
}
.game-screen {
  /* margin: 0 20% 0 20%; */
  margin: 0 16% 0 16%;
}
.game-grid {
  padding: 5%;
}
.cell {
  width: 10%;
  padding-bottom: 10%;
  background: transparent;
  border: 1px solid #272727 !important;
}

/* ships selection */
.ships-selection {
  background: transparent;
}
.ships-box {
  /* padding-bottom: 5%; */
  padding-bottom: 2vmin;
}
/* .ships-btns {
  height: 5%;
} */
.ship-four {width: 100%;}
.ship-three {width: 50%;}
.ship-two {width: 33.33%;}
.ship-one {width: 25%;}
.img-fluid {
  /* max-width: 100%;
  height: auto; */
  height: 100%;
  max-width: auto;
}
.set-active {
  opacity: .85;
}
.set-active:hover {
  opacity: 1;
}
.set-selected {
  opacity: .3;
}

/* ship status */
.cell-ship { background: #545454; }
.cell-shot { background: #cc1717; }
.cell-dead { background: #181818; }
.cell-miss { background: #b1bfd1; }

/* invite friend + game over modals */
.invite {
  padding-bottom: 1vmax;
}
.game-over {
  padding-top: 4vmax;
  padding-bottom: 4vmax;
}
.qr-code {
  width: 40vmin;
  height: auto;
  padding-bottom: 2vmin;
}


.footer {
  background-color: #ffffff;
  opacity: .9;
  margin-top: 30px;
  padding: 30px;
  border-top-left-radius: 75px 10px;
  border-color: #333;
  border-width: 2px;
  border-top-style: solid;
  position: absolute;
  bottom: 0;
  /* fixed height of the footer */
  height: 86px;
}

